{% extends 'base.html' %} {% import 'macros.html' as macros %} {% block title %}
{{ super() }} Bienvenido {% endblock %} {% block content %} {% if user_ip %}
<h1>Hello world Platzi! Tu ip es {{ user_ip }}</h1>
{% else %}
<a href="{{ url_for('index') }}">Ir al inicio</a>
{% endif %}

<div class="container">
  <form action="{{ url_for('hello') }}" method="post">
    {{ login.username }} {{ login.username.label }} {{ login.password }} {{
    login.password.label }} {{ login.submit }}
  </form>
</div>

<ul>
  {% for todo in todos %} {{ macros.integrantes(todo) }} {% endfor %}
</ul>

{% endblock %}
